clearfix::after {
    content: “”;
    display: block;
    clear: both;
}

body {
    padding: 10px;
    font-size: 16px;
}

h1 {
    margin-bottom: 20px;
}

.opening {
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 15px;
}

#search-buttons {
    margin-top: 10px;
}

p {
    margin: 10px 0 10px 0;
    font-weight: 400;
    font-size: 16px;
}

#addBox {
    max-width: 250px;
    margin: 10px 0;
}

#submit {
    margin-top: 10px;
}

button {
    background-color: rgb(150, 240, 189);
    border: none;
}

.item {
    margin: 0 10px 10px 0;
}

p {
    margin-top: 16px;
    margin-bottom: 2px;
}

img {
    max-width: 300px;
    height: 200px;
}

.food-div {
    float: left;
    margin-right: 30px;
    margin-bottom: 0;
    height: 260px;
}

.imgSize {
    height: 20px;
    width: 20px;
}

.fav, .rating {
    margin-top: 3px;
    font-weight: 300;
    font-size: 16px;
}

.fav {
    line-height: 20px;
    height: 40px;
}

.small {
    height: 30px;
    width: 30px;
    margin-right: 7px;
    margin-bottom: 7px;
}

#saved {
    margin-bottom: 20px;
}