clearfix::after {
    content: “”;
    display: block;
    clear: both;
}

body {
    padding: 10px;
}

h4 {
    margin-bottom: 15px;
}

#addBox {
    max-width: 300px;
}

#submit {
    margin-top: 10px;
}

button {
    background-color: rgb(150, 240, 189);
    border: none;
}

.item {
    margin: 0 10px 10px 0;
}

p {
    margin-top: 16px;
    margin-bottom: 2px;
}

img {
    max-width: 300px;
}

.food-div {
    float: left;
    margin-right: 30px;
}

.imgSize {
    height: 20px;
    width: 20px;
}

.fav {
    margin-top: 3px;
}